@{
    ViewBag.Title = "Index_ql";
    Layout = "~/Views/Quanli/Quanli_admin.cshtml";
}

<h2 style="font-family:'Alumni Sans Inline One', sans-serif; color:#29042a;font-weight:400 ; margin-top:25%" class="text-center">Quản lí Website Shop Sneacker</h2>
