@using SHOP_SNEAKER.Models;
@model List<MAUSAC>
@foreach (MAUSAC item in Model)
{
    <tr class="sanpham_1">
        <td class="text-truncate" style="max-width: 150px;">@item.MAMS</td>
        <td class="text-truncate" style="max-width: 150px;">@item.TENMAUSAC</td>
        <td>
            <a href="@Url.Action("SUAMAUSAC", "Quanli", new { id = item.MAMS.Trim() })" class="btn btn-warning btn-sm">Sửa</a>
            <a href="@Url.Action("XOAMAUSAC", "Quanli", new { id = item.MAMS.Trim() })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</a>
        </td>
    </tr>
}
