@using SHOP_SNEAKER.Models;
@model List<NHANHANG>
@foreach (NHANHANG item in Model)
{
    <tr class="sanpham_1">
        <td class="text-truncate" style="max-width: 150px;">@item.MANH</td>
        <td class="text-truncate" style="max-width: 150px;">@item.TENNH</td>
        <td>
            <a href="@Url.Action("SUANHANHANG", "Quanli", new { id = item.MANH.Trim() })" class="btn btn-warning btn-sm">Sửa</a>
            <a href="@Url.Action("XOANHANHANG", "Quanli", new { id = item.MANH.Trim() })" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</a>
        </td>
    </tr>
}
