@{
    ViewBag.Title = "THEMNHANHANG";
    Layout = "~/Views/Quanli/Quanli_admin.cshtml";
}

<form action="/Quanli/THEMNHANHANG" method="post" enctype="multipart/form-data" class="form" style="margin-left:15%">
    <h2>Thêm Kích Thước</h2>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label">Mã Nhãn Hàng @Html.ValidationMessage("ma_kc", "", new { @class = "text-danger" })</label>
                    <input value="" name="ma_kc" id="ten_kh" type="text" class="form-control">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label class="form-label"> Tên Nhãn Hàng @Html.ValidationMessage("ten_kc", "", new { @class = "text-danger" })</label>
                    <input value="" name="ten_kc" id="ten_kh" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <button style="margin-left:25px; margin-top:10px" type="submit" class="btn btn-primary">Cập nhật</button>
    </div>
</form>
